@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.10\.5\/frameworks\/blueprint\/stylesheets\/blueprint\/reset\/_utilities\.scss}line{font-family:\000034}}
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.10\.5\/frameworks\/blueprint\/stylesheets\/blueprint\/reset\/_utilities\.scss}line{font-family:\000036}}
html {
  font-size: 100.01%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.10\.5\/frameworks\/blueprint\/stylesheets\/blueprint\/reset\/_utilities\.scss}line{font-family:\0000316}}
div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.10\.5\/frameworks\/blueprint\/stylesheets\/blueprint\/reset\/_utilities\.scss}line{font-family:\0000318}}
blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" "";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.10\.5\/frameworks\/blueprint\/stylesheets\/blueprint\/reset\/_utilities\.scss}line{font-family:\0000345}}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.10\.5\/frameworks\/blueprint\/stylesheets\/blueprint\/reset\/_utilities\.scss}line{font-family:\0000320}}
th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.10\.5\/frameworks\/blueprint\/stylesheets\/blueprint\/reset\/_utilities\.scss}line{font-family:\0000322}}
table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.10\.5\/frameworks\/blueprint\/stylesheets\/blueprint\/reset\/_utilities\.scss}line{font-family:\0000324}}
a img {
  border: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.10\.5\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000314}}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.10\.5\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000317}}
body {
  line-height: 1;
  color: black;
  background: white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.10\.5\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000319}}
ol, ul {
  list-style: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.10\.5\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000321}}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.10\.5\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000323}}
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.10\.5\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000325}}
q, blockquote {
  quotes: "" "";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.10\.5\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000396}}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.10\.5\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000327}}
a img {
  border: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_videos\.sass}line{font-family:\000031}}
.video {
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_videos\.sass}line{font-family:\000033}}
.video .video-play {
  position: absolute;
  top: 150px;
  left: 260px;
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_videos\.sass}line{font-family:\000038}}
.video a {
  width: 600px;
  height: 380px;
  display: block;
  margin-bottom: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_videos\.sass}line{font-family:\0000313}}
.video-content {
  overflow: hidden;
  *zoom: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_videos\.sass}line{font-family:\0000316}}
.comments, .new-comment {
  padding: 18px 10px 10px 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_videos\.sass}line{font-family:\0000319}}
ol.all-comments {
  margin: 0 0 18px 0;
  list-style: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_videos\.sass}line{font-family:\0000322}}
ol.all-comments li {
  overflow: hidden;
  *zoom: 1;
  margin-bottom: 18px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_videos\.sass}line{font-family:\0000325}}
ol.all-comments .author {
  display: inline;
  float: left;
  margin-right: 20px;
  width: 186.25px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.10\.5\/frameworks\/blueprint\/stylesheets\/blueprint\/_grid\.scss}line{font-family:\00003139}}
* html ol.all-comments .author {
  overflow-x: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_videos\.sass}line{font-family:\0000327}}
ol.all-comments .text {
  display: inline;
  float: left;
  margin-right: 0;
  width: 351.25px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.10\.5\/frameworks\/blueprint\/stylesheets\/blueprint\/_grid\.scss}line{font-family:\00003139}}
* html ol.all-comments .text {
  overflow-x: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_videos\.sass}line{font-family:\0000329}}
ol.all-comments .date {
  font-size: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_videos\.sass}line{font-family:\0000333}}
.video-content > .info {
  display: inline;
  float: left;
  margin-right: 0;
  width: 227.5px;
  border-right: 1px dotted #cccccc;
  padding: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.10\.5\/frameworks\/blueprint\/stylesheets\/blueprint\/_grid\.scss}line{font-family:\00003139}}
* html .video-content > .info {
  overflow-x: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_videos\.sass}line{font-family:\0000338}}
.video-content > .description {
  display: inline;
  float: left;
  margin-right: 0;
  width: 310px;
  padding: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.10\.5\/frameworks\/blueprint\/stylesheets\/blueprint\/_grid\.scss}line{font-family:\00003139}}
* html .video-content > .description {
  overflow-x: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_videos\.sass}line{font-family:\0000344}}
.sidebar-videos ol {
  margin-bottom: 18px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_videos\.sass}line{font-family:\0000346}}
.sidebar-videos li {
  overflow: hidden;
  border-bottom: 1px dotted #cccccc;
  padding-bottom: 5px;
  padding-top: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_videos\.sass}line{font-family:\0000351}}
.sidebar-videos li:last-child {
  border-bottom: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_videos\.sass}line{font-family:\0000354}}
.sidebar-videos .image a {
  display: inline;
  float: left;
  width: 135px;
  height: 100px;
  overflow: hidden;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #eeeeee), color-stop(49.254%, #eeeeee), color-stop(100%, #cccccc));
  background-image: -moz-linear-gradient(top, #eeeeee 0%, #eeeeee 33%, #cccccc 67%);
  background-image: linear-gradient(top, #eeeeee 0%, #eeeeee 33%, #cccccc 67%);
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_videos\.sass}line{font-family:\0000361}}
.sidebar-videos .info {
  margin-left: 5px;
  width: 120px;
  display: inline;
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_videos\.sass}line{font-family:\0000366}}
.featured-videos {
  overflow: hidden;
  *zoom: 1;
  margin-bottom: 18px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_videos\.sass}line{font-family:\0000369}}
.featured-videos li {
  display: inline;
  float: left;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_videos\.sass}line{font-family:\0000372}}
.featured-videos li:first-child {
  margin-right: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_videos\.sass}line{font-family:\0000374}}
.featured-videos .video {
  overflow: hidden;
  margin-bottom: 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_videos\.sass}line{font-family:\0000377}}
.featured-videos .video a {
  height: 200px;
  width: 290px;
  display: block;
  margin-bottom: 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_videos\.sass}line{font-family:\0000382}}
.featured-videos .info {
  line-height: 2em;
  width: 270px;
  padding: 5px 10px;
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_videos\.sass}line{font-family:\0000389}}
.new-videos {
  overflow: hidden;
  *zoom: 1;
  margin-bottom: 18px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_videos\.sass}line{font-family:\0000393}}
.new-videos li {
  display: inline;
  float: left;
  margin-right: 0;
  width: 145px;
  margin: 0 0 18px 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.10\.5\/frameworks\/blueprint\/stylesheets\/blueprint\/_grid\.scss}line{font-family:\00003139}}
* html .new-videos li {
  overflow-x: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_videos\.sass}line{font-family:\0000396}}
.new-videos li:nth-child(4) {
  margin-right: 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_videos\.sass}line{font-family:\0000399}}
.new-videos .image a {
  width: 135px;
  height: 100px;
  overflow: hidden;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #eeeeee), color-stop(49.254%, #eeeeee), color-stop(100%, #cccccc));
  background-image: -moz-linear-gradient(top, #eeeeee 0%, #eeeeee 33%, #cccccc 67%);
  background-image: linear-gradient(top, #eeeeee 0%, #eeeeee 33%, #cccccc 67%);
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_videos\.sass}line{font-family:\00003105}}
.new-videos .info {
  width: 125px;
  padding: 5px;
  border-bottom: 1px dotted #cccccc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_videos\.sass}line{font-family:\00003109}}
.new-videos .info .title {
  height: 36px;
  width: 125px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_videos\.sass}line{font-family:\00003112}}
.new-videos .info .info {
  height: 18px;
  width: 125px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_videos\.sass}line{font-family:\00003115}}
.new-videos span {
  display: inline-block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_videos\.sass}line{font-family:\00003118}}
input[type="submit"].like, input[type="submit"].dislike {
  border: none;
  width: 24px;
  height: 24px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_videos\.sass}line{font-family:\00003122}}
input[type="submit"].like:hover, input[type="submit"].dislike:hover {
  border: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_videos\.sass}line{font-family:\00003124}}
input[type="submit"].like, input[type="submit"].like:hover {
  background: transparent url('/images/like.png?1294055110') no-repeat top left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_videos\.sass}line{font-family:\00003127}}
input[type="submit"].dislike, input[type="submit"].dislike:hover {
  background: transparent url('/images/dislike.png?1294055115') no-repeat top left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_videos\.sass}line{font-family:\00003130}}
.vote {
  overflow: hidden;
  *zoom: 1;
  margin: 10px 0 0 0;
  line-height: 2em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_videos\.sass}line{font-family:\00003134}}
.vote form {
  display: inline;
  float: left;
  margin-right: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_videos\.sass}line{font-family:\00003138}}
.like-text {
  color: #07b168;
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_videos\.sass}line{font-family:\00003141}}
.dislike-text {
  color: #cc0025;
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_form\.sass}line{font-family:\000031}}
#user_new {
  padding: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_form\.sass}line{font-family:\000034}}
#sidebar label {
  width: 70px;
  display: inline-block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_form\.sass}line{font-family:\000037}}
input[type=text], input[type=password] {
  border: 1px solid #dddddd;
  width: 180px;
  font-size: 13px;
  line-height: 18px;
  height: 22px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_form\.sass}line{font-family:\0000314}}
input[type=text]:focus, input[type=password]:focus {
  border: 1px solid #097be4;
  background: #c3ebf1;
  outline: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_form\.sass}line{font-family:\0000319}}
button, input[type=submit], #add-article-button {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #03a2f1), color-stop(49.254%, #03a2f1), color-stop(100%, #097be4));
  background-image: -moz-linear-gradient(top, #03a2f1 0%, #03a2f1 33%, #097be4 67%);
  background-image: linear-gradient(top, #03a2f1 0%, #03a2f1 33%, #097be4 67%);
  text-shadow: #444444 0px 1px 1px;
  line-height: 18px;
  color: white;
  font-weight: bold;
  padding: 3px 8px;
  font-size: 13px;
  border: 1px solid #097be4;
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_form\.sass}line{font-family:\0000330}}
button:hover, input[type=submit]:hover, #add-article-button:hover {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #097be4), color-stop(49.254%, #097be4), color-stop(100%, #03a2f1));
  background-image: -moz-linear-gradient(top, #097be4 0%, #097be4 33%, #03a2f1 67%);
  background-image: linear-gradient(top, #097be4 0%, #097be4 33%, #03a2f1 67%);
  border: 1px solid #097be4;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_form\.sass}line{font-family:\0000333}}
.row {
  margin-bottom: 9px;
  overflow: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_form\.sass}line{font-family:\0000337}}
.forgot-password {
  margin-left: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_form\.sass}line{font-family:\0000341}}
.content label {
  display: inline;
  float: left;
  margin-right: 20px;
  width: 145px;
  line-height: 2em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.10\.5\/frameworks\/blueprint\/stylesheets\/blueprint\/_grid\.scss}line{font-family:\00003139}}
* html .content label {
  overflow-x: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_form\.sass}line{font-family:\0000344}}
.content input[type=text], .content input[type=password] {
  display: inline;
  float: left;
  margin-right: 0;
  width: 227.5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.10\.5\/frameworks\/blueprint\/stylesheets\/blueprint\/_grid\.scss}line{font-family:\00003139}}
* html .content input[type=text], * html .content input[type=password] {
  overflow-x: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_form\.sass}line{font-family:\0000346}}
input#search {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  border: 2px solid #03a2f1;
  width: 300px;
  height: 32px;
  margin-top: 10px;
  font-size: 16px;
  padding: 0 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_form\.sass}line{font-family:\0000354}}
#btn-search {
  font-size: 18px;
  border: 0px solid #cc0025;
  height: 35px;
  margin-left: 5px;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #09e485), color-stop(49.254%, #07b168), color-stop(100%, #226448));
  background-image: -moz-linear-gradient(top, #09e485 0%, #07b168 33%, #226448 67%);
  background-image: linear-gradient(top, #09e485 0%, #07b168 33%, #226448 67%);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_form\.sass}line{font-family:\0000361}}
textarea {
  width: 280px;
  height: 150px;
  border: 1px solid #dddddd;
  font-size: 13px;
  line-height: 18px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_layout\.sass}line{font-family:\000038}}
#container {
  width: 970px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  position: relative;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_layout\.sass}line{font-family:\0000313}}
#header {
  display: inline;
  float: left;
  margin-right: 0;
  width: 970px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.10\.5\/frameworks\/blueprint\/stylesheets\/blueprint\/_grid\.scss}line{font-family:\00003139}}
* html #header {
  overflow-x: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_layout\.sass}line{font-family:\0000315}}
#footer {
  display: inline;
  float: left;
  margin-right: 0;
  width: 970px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.10\.5\/frameworks\/blueprint\/stylesheets\/blueprint\/_grid\.scss}line{font-family:\00003139}}
* html #footer {
  overflow-x: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_layout\.sass}line{font-family:\0000317}}
#sidebar {
  display: inline;
  float: left;
  margin-right: 0;
  width: 310px;
  background: white;
  min-height: 600px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.10\.5\/frameworks\/blueprint\/stylesheets\/blueprint\/_grid\.scss}line{font-family:\00003139}}
* html #sidebar {
  overflow-x: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_layout\.sass}line{font-family:\0000322}}
#center {
  display: inline;
  float: left;
  margin-right: 20px;
  width: 640px;
  background: white;
  min-height: 600px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.10\.5\/frameworks\/blueprint\/stylesheets\/blueprint\/_grid\.scss}line{font-family:\00003139}}
* html #center {
  overflow-x: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_layout\.sass}line{font-family:\0000327}}
#header {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #03a2f1), color-stop(49.254%, #03a2f1), color-stop(100%, #097be4));
  background-image: -moz-linear-gradient(top, #03a2f1 0%, #03a2f1 33%, #097be4 67%);
  background-image: linear-gradient(top, #03a2f1 0%, #03a2f1 33%, #097be4 67%);
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -o-border-bottom-left-radius: 5px;
  -ms-border-bottom-left-radius: 5px;
  -khtml-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -o-border-bottom-right-radius: 5px;
  -ms-border-bottom-right-radius: 5px;
  -khtml-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-box-shadow: #444444 0px 1px 2px 0;
  -webkit-box-shadow: #444444 0px 1px 2px 0;
  -o-box-shadow: #444444 0px 1px 2px 0;
  box-shadow: #444444 0px 1px 2px 0;
  height: 110px;
  position: relative;
  color: white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_layout\.sass}line{font-family:\0000335}}
.signed-in, .admin-area {
  position: absolute;
  top: 9px;
  right: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_layout\.sass}line{font-family:\0000339}}
.signed-in a, .admin-area a {
  color: white;
  border-bottom: 1px dotted white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_layout\.sass}line{font-family:\0000342}}
.signed-in a:visited, .admin-area a:visited {
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_layout\.sass}line{font-family:\0000344}}
.signed-in a:hover, .admin-area a:hover {
  background-color: black;
  color: white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_layout\.sass}line{font-family:\0000347}}
.admin-area {
  position: absolute;
  top: 9px;
  left: 20px;
  width: 200px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_layout\.sass}line{font-family:\0000352}}
.admin-area a, .admin-area a:visited {
  color: #09e485;
  border-bottom: none;
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_layout\.sass}line{font-family:\0000357}}
#logo {
  height: 100px;
  width: 400px;
  font-size: 42px;
  line-height: 100px;
  margin: 10px 20px;
  background: transparent url('/images/mymobilevideo2.png?1287998876') no-repeat top left;
  text-indent: 9000px;
  overflow: hidden;
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_layout\.sass}line{font-family:\0000367}}
.content {
  padding: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_layout\.sass}line{font-family:\0000370}}
.register-now {
  width: 560px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 32px;
  line-height: 32px;
  color: #444444;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_layout\.sass}line{font-family:\0000379}}
#footer {
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -o-border-top-left-radius: 5px;
  -ms-border-top-left-radius: 5px;
  -khtml-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  -o-border-top-right-radius: 5px;
  -ms-border-top-right-radius: 5px;
  -khtml-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -moz-box-shadow: #444444 0px -1px 2px 0;
  -webkit-box-shadow: #444444 0px -1px 2px 0;
  -o-box-shadow: #444444 0px -1px 2px 0;
  box-shadow: #444444 0px -1px 2px 0;
  height: 30px;
  line-height: 30px;
  background: #097be4;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_layout\.sass}line{font-family:\0000385}}
#footer a {
  color: white;
  border-bottom: 1px dotted white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_layout\.sass}line{font-family:\0000388}}
#footer a:hover {
  background-color: black;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_layout\.sass}line{font-family:\0000390}}
.footer-links {
  display: inline;
  float: left;
  margin-right: 20px;
  width: 598.75px;
  margin-right: 0;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  *zoom: 1;
  margin-left: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.10\.5\/frameworks\/blueprint\/stylesheets\/blueprint\/_grid\.scss}line{font-family:\00003139}}
* html .footer-links {
  overflow-x: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.10\.5\/frameworks\/compass\/stylesheets\/compass\/utilities\/lists\/_horizontal-list\.scss}line{font-family:\0000351}}
.footer-links li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.10\.5\/frameworks\/compass\/stylesheets\/compass\/utilities\/lists\/_horizontal-list\.scss}line{font-family:\0000343}}
.footer-links li:first-child, .footer-links li.first {
  padding-left: 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.10\.5\/frameworks\/compass\/stylesheets\/compass\/utilities\/lists\/_horizontal-list\.scss}line{font-family:\0000344}}
.footer-links li:last-child, .footer-links li.last {
  padding-right: 0px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_layout\.sass}line{font-family:\0000395}}
.copyright {
  display: inline;
  float: left;
  margin-right: 20px;
  width: 310px;
  display: inline;
  float: right;
  text-align: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.10\.5\/frameworks\/blueprint\/stylesheets\/blueprint\/_grid\.scss}line{font-family:\00003139}}
* html .copyright {
  overflow-x: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_layout\.sass}line{font-family:\0000399}}
.search {
  position: absolute;
  top: 36px;
  right: 20px;
  width: 450px;
  text-align: right;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_layout\.sass}line{font-family:\00003106}}
.social-icon {
  width: 48px;
  height: 48px;
  display: block;
  text-indent: 9000px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_layout\.sass}line{font-family:\00003111}}
.social-icon.facebook {
  background: transparent url('/images/facebook_48.png?1287998876') no-repeat top left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_layout\.sass}line{font-family:\00003113}}
.social-icon.twitter {
  background: transparent url('/images/twitter_48.png?1287998876') no-repeat top left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_layout\.sass}line{font-family:\00003115}}
.social-icon.rss {
  background: transparent url('/images/feed_48.png?1287998876') no-repeat top left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_layout\.sass}line{font-family:\00003118}}
.login, .sidebar-videos {
  margin-bottom: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_layout\.sass}line{font-family:\00003121}}
.search-term {
  display: inline;
  float: left;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  padding: 5px 10px;
  background: #c3ebf1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_layout\.sass}line{font-family:\00003127}}
.search-label {
  display: inline;
  float: left;
  line-height: 1.5em;
  margin-right: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_typography\.sass}line{font-family:\000031}}
body {
  background-color: white;
  color: #333333;
  font-family: helvetica, arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_typography\.sass}line{font-family:\000038}}
ol, ul {
  list-style: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_typography\.sass}line{font-family:\0000311}}
pre {
  background-color: #eeeeee;
  padding: 10px;
  font-size: 11px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_typography\.sass}line{font-family:\0000316}}
a {
  color: #097be4;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_typography\.sass}line{font-family:\0000319}}
a:visited {
  color: #097be4;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_typography\.sass}line{font-family:\0000321}}
a:hover {
  color: #097be4;
  background-color: #c3ebf1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_typography\.sass}line{font-family:\0000329}}
div.field, div.actions {
  margin-bottom: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_typography\.sass}line{font-family:\0000332}}
#notice {
  color: green;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_typography\.sass}line{font-family:\0000335}}
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_typography\.sass}line{font-family:\0000340}}
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 0px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_typography\.sass}line{font-family:\0000347}}
#error_explanation h2 {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_typography\.sass}line{font-family:\0000350}}
p {
  margin-bottom: 18px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_typography\.sass}line{font-family:\0000389}}
h1 {
  font-size: 24px;
  margin-bottom: 10px;
  border-bottom: 1px solid #999999;
  padding-bottom: 9px;
  line-height: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_typography\.sass}line{font-family:\0000391}}
h2 {
  font-size: 18px;
  margin-bottom: 10px;
  line-height: 1.3em;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_typography\.sass}line{font-family:\0000394}}
h2 span {
  display: inline;
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_typography\.sass}line{font-family:\0000396}}
h2 a {
  display: inline;
  float: right;
  font-size: 12px;
  line-height: 1.5em;
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_typography\.sass}line{font-family:\00003101}}
h3 {
  font-size: 16px;
  margin-bottom: 10px;
  line-height: 1.3em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_typography\.sass}line{font-family:\00003103}}
h4 {
  font-size: 13px;
  font-weight: bold;
  color: #999999;
  margin-bottom: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_typography\.sass}line{font-family:\00003105}}
h5 {
  font-size: 13px;
  font-weight: bold;
  color: #999999;
  margin-bottom: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_typography\.sass}line{font-family:\00003107}}
h6 {
  font-size: 13px;
  font-weight: bold;
  color: #999999;
  margin-bottom: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_typography\.sass}line{font-family:\00003110}}
#add-article-button {
  font-size: 24px;
  display: block;
  width: 250px;
  text-align: center;
  line-height: 1.5em;
  margin-bottom: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_users\.sass}line{font-family:\000031}}
h1 {
  position: relative;
  overflow: hidden;
  *zoom: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_users\.sass}line{font-family:\000034}}
h1 .h1-content {
  display: inline;
  float: left;
  width: 540px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_users\.sass}line{font-family:\000037}}
h1 .h1-options {
  position: absolute;
  right: 0;
  top: 0;
  display: inline;
  float: right;
  width: 60px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_users\.sass}line{font-family:\0000313}}
h1 .h1-options form {
  overflow: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_users\.sass}line{font-family:\0000315}}
.online {
  color: #226448;
  font-size: 12px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_users\.sass}line{font-family:\0000319}}
.profile {
  overflow: hidden;
  *zoom: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_users\.sass}line{font-family:\0000321}}
.profile .image {
  padding: 5px 5px 15px 5px;
  margin: 4px;
  -moz-box-shadow: #333333 1px 1px 5px 0;
  -webkit-box-shadow: #333333 1px 1px 5px 0;
  -o-box-shadow: #333333 1px 1px 5px 0;
  box-shadow: #333333 1px 1px 5px 0;
  display: inline;
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_users\.sass}line{font-family:\0000326}}
.profile .image img {
  padding: 0px;
  margin: 0px;
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_users\.sass}line{font-family:\0000331}}
.profile .info {
  padding: 10px;
  display: inline;
  float: left;
  margin-left: 20px;
  font-size: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_users\.sass}line{font-family:\0000336}}
.profile .info li {
  margin-bottom: 8px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_users\.sass}line{font-family:\0000338}}
.profile .info .label {
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_admin\.sass}line{font-family:\000032}}
.admin-table th {
  color: white;
  background: black;
  padding: 10px 5px;
  font-size: 16px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_admin\.sass}line{font-family:\000037}}
.admin-table td {
  padding: 5px;
  background: #eeeeee;
  border-bottom: 1px dotted #999999;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_admin\.sass}line{font-family:\0000312}}
.options {
  width: 100px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_admin\.sass}line{font-family:\0000315}}
input[type=submit].icon {
  display: inline;
  float: right;
  width: 22px;
  height: 22px;
  border: 1px solid #999999;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_admin\.sass}line{font-family:\0000320}}
input[type=submit].icon.delete:hover {
  border: 1px solid #999999;
  background: #ffbdc3 url('/images/icons/delete_16x16.gif?1288002935') no-repeat 2px 2px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_admin\.sass}line{font-family:\0000323}}
.icon {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  display: inline;
  float: right;
  width: 20px;
  height: 20px;
  border: 1px solid #999999;
  display: block;
  margin-right: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_admin\.sass}line{font-family:\0000331}}
input.delete {
  background: white url('/images/icons/delete_16x16.gif?1288002935') no-repeat 2px 2px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_admin\.sass}line{font-family:\0000333}}
.edit {
  background: white url('/images/icons/edit_16x16.gif?1288002924') no-repeat 2px 2px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/MyMobileVideo\/app\/stylesheets\/partials\/_admin\.sass}line{font-family:\0000335}}
.show {
  background: white url('/images/icons/preview_16x16.gif?1288002916') no-repeat 2px 2px;
}
