%h1 Neue Videos
%ol.new-videos
  - @articles.each do |article|
    %li
      .video
        = link_to image_tag(get_asset_thumb(article.asset.url, article.asset.original_filename, "medium")), article
      .info
        .title
          = link_to truncate(article.title, :length => 30), article
        .date
          = l(article.created_at, :format => :custom)

