h1
  position: relative
  +clearfix
  .h1-content
    +float-left
    width: 540px
  .h1-options
    position: absolute
    right: 0
    top: 0
    +float-right
    width: 60px
    form
      overflow: hidden
.online
  color: $dark-green
  font-size: 12px
  
.profile
  +clearfix
  .image
    padding: 5px 5px 15px 5px
    margin: 4px
    +box-shadow
    +float-left
    img
      padding: 0px
      margin: 0px
      display: block

  .info
    padding: 10px
    +float-left
    margin-left: 20px
    font-size: 15px
    li
      margin-bottom: 8px
    .label
      font-weight: bold
    