.video
  a
    width: 600px
    height: 380px
    display: block
    margin-bottom: 20px
.description, .info
  padding: 5px
  
.comments
  border-top: 1px solid $light-grey
  padding: 18px 5px 10px 5px
  
ol.all-comments
  margin: 0 0 18px 0
  +reset-list-style
  li
    +clearfix
    margin-bottom: 18px
  .author
    +column(5)
  .text
    +column(9, true)
  .date
    font-size: 10px


.info
  +clearfix
  .views
    +float-left
  .user
    +float-right
.sidebar-videos
  li
    overflow: hidden
    border-bottom: 1px dotted $light-grey
    padding-bottom: 5px
    padding-top: 5px
    &:last-child
      border-bottom: none
  .image
    a
      +float-left
      width: 135px
      height: 100px
      overflow: hidden
      +linear-gradient(color-stops($lighter-grey, $lighter-grey 33%, $light-grey 67%))
      display: block
  .info
    margin-left: 5px
    width: 120px
    +float-left

.featured-videos
  +clearfix
  margin-bottom: 18px
  li
    +float-left
    position: relative
    &:first-child
      margin-right: 20px
  .video
    overflow: hidden
    margin-bottom: 0px
    a
      height: 200px
      width: 290px
      display: block
      margin-bottom: 0px    
  .info
    line-height: 2em
    width: 270px
    padding: 5px 10px
    font-weight: bold
      

.new-videos
  +clearfix
  margin-bottom: 18px
  li
    +float-left
    width: 135px
    margin-right: 20px
    margin-bottom: 10px
    &:nth-child(4)
      margin-right: 0px
  .image
    a
      width: 135px
      height: 100px
      overflow: hidden
      +linear-gradient(color-stops($lighter-grey, $lighter-grey 33%, $light-grey 67%))
      display: block
  .info
    width: 125px
    padding: 5px
    border-bottom: 1px dotted $light-grey
    .title
      height: 36px
      width: 125px
    .info
      height: 18px
      width: 125px
  span
    display: inline-block