%h1 Contact & Directions

%h2 Address:
%p Internet Technologies Group

%p
  Prof. Dr. Thomas C. Schmidt
  Department Informatik
  HAW Hamburg
  Berliner Tor 7
  D-20099 Hamburg, Germany
%p
  Phone: +49 40 42875 - 8452
  Fax: +49 40 42875 - 8409
  Email: schmidt@informatik.haw-hamburg.de

 

%h2 Offices:
%p Our offices are located at the Berliner Tor 7 (the "EI Hochhaus"), room 780 (7th floor) and room 580 (5th floor). It is 14-story grey concrete building.
 

%h2 Directions:

%p 
  By train:
  Once you arrive at Hamburg Central Station, you leave "Hauptbahnhof Süd" direction for the Underground U1. Take the metro in the direction "Ohlstedt" or "Großhansdorf" for "Lohmühlenstrasse" (that's one stop only). Leave at Lohmühlenstrasse in the driving direction of the train, go upstairs and head right. You will see a couple of high blue and brick buildings (ahead of you a "Suite Hotel"). Pass by the hotel into a little plaza between the buildings (with an iron bridge in it). Ahead of you you will see a 14-story grey concrete building (the "EI Hochhaus") - that's where we are. You'll find us in the 7th floor, room 780, or 5th floor, room 580.
 

 

 

%h2 Disclaimer:
%p 
  This Web-Site, its links and intellectual interrelations are dedicated to research, innovation and out of the box ideas. Its authors believe that this material is beyond the scope of understanding for jurisprudents, administrators and management personnel. Thus little chances exist to succeed in intrusive actions taken in a legal or administrative sense. Authors advise visitors of judiciary intentions to continue navigation here.